{% extends 'base.html.twig' %}

{% block title %}Edit FarforCategory{% endblock %}

{% block body %}
    <h1>Edit FarforCategory</h1>

    {{ include('farfor_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('farfor_category_index') }}">back to list</a>

    {{ include('farfor_category/_delete_form.html.twig') }}
{% endblock %}
