{% extends 'base.html.twig' %}

{% block title %}New FarforCategory{% endblock %}

{% block body %}
    <h1>Create new FarforCategory</h1>

    {{ include('farfor_category/_form.html.twig') }}

    <a href="{{ path('farfor_category_index') }}">back to list</a>
{% endblock %}
