{% extends 'base.html.twig' %}

{% block title %}New Ceramic{% endblock %}

{% block body %}
    <h1>Create new Ceramic</h1>

    {{ include('ceramic/_form.html.twig') }}

    <a href="{{ path('ceramic_index') }}">back to list</a>
{% endblock %}
