{% extends 'base.html.twig' %}

{% block title %}Edit CeramicCategory{% endblock %}

{% block body %}
    <h1>Edit CeramicCategory</h1>

    {{ include('ceramic_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ceramic_category_index') }}">back to list</a>

    {{ include('ceramic_category/_delete_form.html.twig') }}
{% endblock %}
